body {
  background-color: #CCC;
}

#winMessage {
  color: red;
  min-height: 27px;
}

.area {
  display: inline-block;
  width: 300px;
  height: 400px;
  border: 5px solid black;
  position: relative;
}

.area div {
  border: 1px solid black;
  position: absolute;
  height: 45px;
  background-color: black;
  margin: auto;
  margin-top: 5px;
}

.selected {
  opacity: 0.15;
}
